/*body style*/
.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 


/*header style*/
.header {
  border: 2px solid none;
  height: 70px;
  min-width: 100%;
  background: #129576;
}

/*main style*/
.main {
  border: 2px solid none;
  height: fit-content;
  min-width: 100%;
}


/*footer style*/
.footer {
  border: 2px solid none;
  height: 50vh;
  min-width: 100%;
  background: transparent;
  background-color:aliceblue;
  position: absolute;
  bottom: 0;
}


.header_container {
  border: 2px solid none;
  width: 98%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

/*e_nav_contents style*/
.e_nav_contents {
  border: 1px solid none;
  width: 100%;
  display: flex;
  color: white;
  position: absolute;
  margin-bottom: auto;
  font-size: small;
  justify-content: space-between;
}


/*e_checkbox_mediastyle*/
.e_checkbox {
  border: 3px solid none;
  font-size: 30px;
  font-weight: lighter;
  color: #54c9b2;
  display: flex;
  position: absolute;
  width: fit-content;
  cursor: pointer;
  z-index: 1;
  top: 3%;
  left:  1.5%;
}


.header .e_checkbox  .checkbotton {
  font-size: larger;
  height: 20cm;
  border: 2px solid none;
}


/*e_checkbox_mediastyle*/
.e_checkbox_media {
  display: none;
}

/*e_checkbox style*/
.e_checkbox_menu {
  display: none;
}


.closeMenuStyle svg{
  border : 2px solid none;
  height: fit-content;
  margin-top: 10%;
}

.shortcutMD1 {
  margin-top: 15%;
  margin-left: -12.5%;
  border-top: 2px solid grey;
  width: auto;
  height: fit-content;
  padding: 0;
  display: block;
  position: relative;
  padding-top: 20%;
}

.e_shortcut_Menu_details {
  border: 2px solid none;
  width: 100%;
  height: fit-content;
  display: flex;
  cursor: pointer;
}

.e_shortcutmenu_options {
  display: block;
  position: relative;
  transform: translateY(10%);
  border: 2px solid none;
}

.e_menu_shortcut_icons, .e_menu_shortcut_title {
  border: 2px solid none;
  height: fit-content;
  width: 100%;
  font-weight: light;
  font-size: 20px;
}

.e_menu_shortcut_icons {
  display: flex;
  justify-content: center;
  width: 30% !important;
  margin: 7% 0% 0% 0%;
}

.e_shortcut_Menu_details i {
  color: black;
  font-size: xx-large;
  font-weight: 100;
}

.e_menu_shortcut_title {
  text-align: left;
}

.activeE_more_contents {
  background-color: white;
  filter: drop-shadow(.75em .75em .5em);
  border-right: 11px solid white;
  width:300px;
  height: 100vh;
  position: fixed;
  left: 0%;
  transform: translate(0%, -2%);
  z-index: 1;
  display: block;
}

.e_more_contents {
  background-color: white;
  width:300px;
  height: 100vh;
  position: fixed;
  left: -20%;
  transform: translate(0%, -2%);
  z-index: 1;
  display: none;
  transition-property: all;
  transition-duration: 25;
  transition-timing-function: ease-in-out;
}

.e_contact_logo {
border: 2px solid none;
position: relative;
background-color: transparent;
transform: translate(0%, -5%);
height: auto;
}  

.e_contact_logo_outside {
  display: none;
}

.e_contact_logo svg{
  border: 2px solid none;
  height: 47.5%;
}

.e_main_content_title {
  transform: translate(0%, 150%);
  border: 2px solid none;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/*e_nav_contents style one and two*/
.e_nav_contents_one, .e_nav_contents_two {
  border: 2px solid none;
  height: fit-content;
  }
  
  /*e_nav_contents style one and two*/
  .e_nav_contents_one h2, .e_nav_contents_two h2{
  margin-left: 0%;
  }
  
  /*e_nav_contents style one*/
  .e_nav_contents_one {
    display: flex;
  }

  .e_nav_contents_one_dashboard, .e_nav_contents_one_contact {
    cursor: pointer;
    }
    
    .e_nav_contents_one_dashboard {
      border: 2px solid none;
      padding-right: 5%;
    }
    
    /*e_nav_contents style two*/
    .e_nav_contents_two {
      display: flex;
      transform: translateX(-70%);
    }
    
    
    /*e_nav_contents_two_icons style*/
    .e_nav_contents_two i {
    position: relative;
    border: 2px solid #00c29d;
    padding: 5%;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    transform: translateY(10%);
    background-color: #00c29d;
    }
    
    
    .e_login_text {
      border: 2px solid none;
      padding-right: 10%;
    }
    
    .e_login_text, .e_registration_text{
      border: 2px solid none;
      padding-left: 5%;
    }




/*e_main_content style*/
.e_main_content {
  border: 2px solid none;
  width: 50%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2cm;
  transform: translate(0%, 10%);
  text-align: center;
}

/*e_main_content_container_list style*/
.e_main_content_container_list {
border: 2px solid none;
display: flex;
list-style-type: none;
font-weight: light;
font-size: 20px;
padding: 1%;
margin-top: 4%;
text-align: center;
max-width: fit-content;
margin-left: auto;
margin-right: auto;
}


/*e_main_content_container_list and li style*/
.e_main_content_container_list li{
min-width: 5cm; 
transition-property: all;
transition-duration: 500ms;
transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
-o-transition-property: all;
-o-transition-duration: 500ms;
-o-transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
-moz-transition-property: all;
-moz-transition-duration: 500ms;
-moz-transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

/*e_main_content_container_list and li hover style*/
.e_main_content_container_list li:hover {
border-bottom: 2px solid #129576;
min-width: 5cm; 
color: #129576;
transition-property: all;
transition-duration: 500ms;
transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
-o-transition-property: all;
-o-transition-duration: 500ms;
-o-transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
-moz-transition-property: all;
-moz-transition-duration: 500ms;
-moz-transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}


.e_main_content_container_list  i {
  position: relative;
  border: 2px solid none;
  height: fit-content;
  color: #129576;
  font-size: 35px;
  transform: translate(480%, -16%);
}


.e_main_content_container_list  span {
  position: relative;
  border: 2px solid none;
  height: fit-content;
  color: #129576;
  font-size: 35px;
  transform: translate(370%, -16%);
}



.e_main_content_list {
  border: 2px solid none;
  width: 50%;
}

.e_main_content_list_headquaters_address {
  border: 2px solid none;
  width: 70%;
  text-align: left;
  margin-left: 12%;
  margin-right: auto;
}


/*e_footer_content style*/
.e_footer_content {
  border: 2px solid none;
  width: 70%;
  height: auto;
  padding:0%;
  padding-left: 0%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  }
  
  .e_footer_content svg {
    width: 15cm;
    height: 4cm;
    margin: 10% auto;
    border: 2px solid none;
  }
  
  /*e_footer_content_container_list style*/
  .e_footer_content_container_list {
  border: 2px solid none;
  display: flex;
  list-style-type: none;
  font-weight: bolder;
  padding: 1%;
  width: 100%;
  margin: 12% auto;
  height: fit-content;
  transform: translate(0%, 130%);
  font-size: 18px;
  cursor: pointer;
  justify-content: center;
  }
  
  .e_footer_content_container {
    border: 2px solid none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap:initial;
  }
  
  .e_footer_content_list {
    border: 2px none solid;
    height: fit-content;
  }
  
  #e_footer_content_contacts {
    border: 2px solid none;
    margin-right: 20px;
  }
  
  #e_footer_content_phones {
    border: 2px solid none;
    margin-right: 20px;
  }
  
  #e_footer_content_topsearch {
    border: 2px solid none;
  }
  
  
  
  
  
  
  
  















@media(max-width: 850px) {

.container {
  overflow-x: hidden;
}

/*e_menu_shortcut style*/
.e_menu_shortcut {
  float: right;
}

/*e_nav_contents style*/
.e_nav_contents {
display: none;
}

.e_contact_logo_outside {
  border: 2px solid none;
  width: fit-content;
  height: fit-content;
  margin: auto 25%;
  font-size: 20px;
  display: flex;
  position: absolute;
}

.e_nav_contents_one, .e_nav_contents_two {
  display: none;
}

/*e_checkbox_mediastyle*/
.e_checkbox {
border: 3px solid none;
font-size: 30px;
font-weight: lighter;
color: #54c9b2;
display: flex;
position: absolute;
width: fit-content;
margin-top: 2.5%;
margin-left: 2.5%;
cursor: pointer;
z-index: 1;
}



/*e_checkbox style*/
.e_checkbox_menu {
display: none;

}

.activeE_more_contents {
background-color: white;
width:300px;
height: 100vh;
position: fixed;
left: 0%;
transform: translate(0%, -2%);
z-index: 1;
display: block;
}

.e_more_contents {
background-color: white;
width:300px;
height: 100vh;
position: fixed;
left: -20%;
transform: translate(0%, -2%);
z-index: 1;
display: none;
transition-property: all;
transition-duration: 25;
transition-timing-function: ease-in-out;
}


/*e_nav_contents style one and two*/
.e_nav_contents_one, .e_nav_contents_two {
border: 2px solid none;
display: unset;
}

.e_main_content_container_list  i {
  position: relative;
  border: 2px solid none;
  height: fit-content;
  color: #129576;
  font-size: 35px;
  transform: translate(100%, -10%);
}


.e_main_content_container_list  span {
  position: relative;
  border: 2px solid none;
  height: fit-content;
  color: #129576;
  font-size: 35px;
  transform: translate(150%, -10%);
}

  

  .e_main_content_title {
    transform: translate(0);
    border: 2px solid none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }


  /*e_main_content style*/
  .e_main_content {
  border: 2px solid none;
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  }
  
  /*e_main_content_container_list style*/
  .e_main_content_container_list {
    border: 2px solid none;
    list-style-type: none;
    font-weight: bolder;
    font-size: 20px;
    padding: 0%;
    margin-top: 0%;
    text-align: center;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }
    
    .e_main_content_list {
      border: 2px solid none;
      width: 42%;
      padding-left: 0%;
      padding-right: 0%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .e_main_content_list_headquaters_address {
      border: 2px solid none;
      width: 100%;
      text-align: left;
      margin-left: -11%;
      margin-right: auto;
    }

   
    .e_main_content_list_email_address p{
      border: 2px solid none;
      width: fit-content;
      text-align: left;
      margin-left: -15%;
      margin-right: auto;
    }

 
  
/*e_footer_content style*/
.e_footer_content {
  border: 2px solid none;
  width: 100%;
  height: auto;
  padding: 0%;
  padding-left: 0%;
  margin-top: 0%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  }
  
  
  .e_footer_content svg {
    width: 200px;
    height: 150px;
    transform: translate(0%, -0%);
    margin: auto;
  }
  
    /*e_footer_content_container_list style*/
  .e_footer_content_container_list {
    border: 2px solid none;
    list-style-type: none;
    font-weight: bolder;
    font-size: 20px;
    padding: 8%;
    width: 100%;
    height: fit-content;
    line-height: 2.9rem;
    transform: translate(0%);
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
  }
  
  .e_footer_content_container {
    border: 2px solid none;
    display: unset;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    flex-wrap: wrap;
  }
  
  
  }
  